.nav-bar {
    top: 0px;
    position:fixed;
    background: #222;
    width: 100%;
    text-align: center;
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    z-index: 99;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    padding:20px;
   
}


body{
    margin: 0px;
}




.scores{
    font-size:17px;
    
}

.clicky-title{
    font-size:30px;
}